<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
   <link rel="stylesheet" href="./static/main.css">
</head>
<body>
<header>
        <img src = "./static/images/logo.png">
	</header>

    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/logout" id="logout">Logout</a></li>
		</ul>
	</nav>
<main>

      <figure>
         <h1>Create task</h1>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
      <form name="form1" action = "{{ url_for('createTask') }}" method = "POST">
         <br>
         Task name
         <input type = "text" name = "name" /><br><br>
         Deadline
         <input type="date" name="deadline" min="{{ date }}" max="{{ deadline }}"/> <br /><br><br>
          Description<br>
         <textarea name="description" rows="4" cols="50"/>
         </textarea>
         <br>
          <input type="hidden" name="projectID" value="{{ projectID }}" />
<!--          sends the project id in post request-->
         <input type = "submit" value = "create task" />
      </form>
         </figure>
</main>
   </body>
</html>