<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
   <link rel="stylesheet" href="./static/main.css">
</head>
<body>

<header>
        <img src = "./static/images/logo.png">
	</header>

    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/logout" id="logout">Logout</a></li>
		</ul>
	</nav>



<main>

      <figure>
      <form name="form1" action = "{{ url_for('createProject') }}" method = "POST">
         {% if error %}
         <p class=error><strong>Error:</strong> {{ error }}
         {% endif %}
         <br>
         Project Name<br>
         <input type = "text" name = "name" /><br><br>
         Description<br>
         <textarea name="description" rows="4" cols="50"/>
         </textarea>
         <br><br>
         Deadline
         <input type="date" name="deadline" min="{{ date }}"/> <br /><br><br>

         <input type = "submit" value = "create project" />
      </form>
      </figure>
</main>
   </body>
</html>