<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Details</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>
<header>
        <img src = "./static/images/logo.png">
	</header>

    <nav>
		<ul>
			<li><a href="/">Home</a></li>
            <li><a href= "{{ url_for('createTask',id = projectID)}}"> Create a Task</a></li>
			<li><a href="/logout" id="logout">Logout</a></li>
		</ul>
	</nav>
<br>
<h1> Project </h1>
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    {% if role == "manager" %}
        <form name="form1" action = "{{ url_for('deleteProject') }}" method = "POST">
                <input type="hidden"  name="projectID" value="{{ projectID }}" />
                <input type = "submit" value = "Delete Project" />
        </form>
    {% endif %}
<main>

       {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}


     {% for row in project %}

            <p>
    <a href = "{{ url_for('taskDetails', projectID = projectID, taskID = row._taskID)}}">
            <figure>
            Name: {{ row._name }}<br>
            Status: {{ row._status }}<br>
            Deadline: {{ row._deadline }}<br><br>
                Sub-tasks:<br>
            {% for child in row._miniTasks %}
                Name: {{ child._name }}<br>
                Status: {{ child._status }}<br><br>
            {% endfor %}
            </figure>
    </a>
    </p>


     {% endfor %}


</main>
   </body>
</html>