<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Worker Home</title>
    <link rel="stylesheet" href="./static/main.css">
</head>
<body>
    <header>
        <img src = "./static/images/logo.png">
	</header>

    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/logout" id="logout">Logout</a></li>
		</ul>
	</nav>
    <br>
    <h1> Worker Projects</h1>
<main>



{% for project in data %}

    <a href = "{{ url_for('project',id = project[0])}}">
    <figure>
        <h2>{{ project[1] }}</h2>
        <p>Deadline: {{ project[2] }}</p>
        <p>Project leader: {{ project[5] }}</p>
    </figure>
        </a>
     {% endfor %}


</main>
   </body>
</html>